@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url('/images/background.jpg'); /* Adjust the path based on your project structure */
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .text-center {
            color: black; /* Set the text color to make it readable on the background */
            background-color: rgba(255, 255, 255, 0.5); /* 50% transparent white */
            padding: 20px;
            border-radius: 30px;
        }
    </style>
</head>
<body>
    <div class="text-center">

        <h1 class="display-4">CarsProject</h1></a>

        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</body>
</html>
